@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063die
*/

:root{
    --cor0: #F55692;
    --cor1: #937FF4;
    --cor2: #5535F2;
    --cor3: #432ABF;
    --cor4: #392D75;
    --cor5: #281973;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: font-family: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient( to bottom, var(--cor2), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 10px;
}

header > h1 {
    color: white;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.432);
}

nav > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    transition-duration: .5s;
}

nav > a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
    color: var(--cor4);
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.342);
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main img {
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-size: 1.3em;
    text-indent: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

div.video{
    background-color: var(--cor5);
    text-align: center;
    margin: 0px -20px 30px -20px;
    padding: 10px;
    position: relative;
    padding-bottom: 59%;

} 

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
    

aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.397);
}
aside > h3{
    color: white;
    background-color: var(--cor4);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
}

aside > ul{
    columns: 2;
    list-style-position: inside;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}
